# Build
build/
Debug/
Release/
mx.scratch

# IDE
.settings/
.trae/
.vscode/
AGENTS.md
*.swp
*.swo
.clangd
compile_commands.json

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Binaries
*.o
*.elf
*.bin
*.hex
*.map
*.lst